.book-list {
  text-align: center;
}

.book-card {
  flex: 1;
  margin: auto;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: whitesmoke;
  box-shadow: 0 0 5px #111;
}

.book-cover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: .5rem;
}

.book-details {
  flex: 3;
  text-align: left;
  padding-left: .5rem;
}

.book-progress {
  flex: 1;
  display: flex;
  align-content: center;
  padding: 10px;
}

.book-actions {
  flex: 1;
}

.book-actions .btn-edit,
.book-actions .btn-delete  {
  margin-right: 10px;
}

.book-actions .btn-update{
  margin: auto;
}